html{
 background-color:#D7FFF1;
 }

h1{
 color:#D7FFF1;
 font-size:50px;
 }

p{
 color:#D7FFF1;
 }

a:link,a:visited{
 text-decoration:none;
 font-size:20px;
 margin:20px;
 }

a:hover{
 text-decoration:underline;
 color:red;
 font-size:25px;
 }

.green-text{color:#D7FFF1;}



